@media screen and (max-width: 600px) {
    .preheader {
        padding: 10px 20px;
        background-color: #fff;
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-position: 50%;
    }

    .title{
        font-size: 35px;
    }

    .description{
        font-size:15px;
    }

    .post {
        width: 300px;
        margin: 20px 0px;
    }
    
    .posts{
        justify-content: center;
    }

    header.header{
        justify-content:center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    .preheader {
        padding: 10px 20px;
        background-color: #fff;
        background-image: url('/assets/images/pc-header.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 270px;
        background-position: 0px 50%;
    }
}
